<div class="container">
    <div class="pleaseLogin">
        <p>ログイン情報を入力してください</p>
    </div>
    <%= form_tag("/login", {method: "post"}) do %>
    <div class="typeUsername">
        <div>
            <p>ユーザー名</p>
        </div>
        <div>
            <input type="text" style="width: 20%" name="name" value="<%= @name %>">
        </div>
    </div>
    <div class="typePassword">
        <div>
            <p>パスワード</p>
        </div>
        <div>
            <input type="password" style="width: 20%" name="password" value="<%= @password %>">
        </div>
    </div>
    <div class="login-button">
        <input type="submit" value="ログイン">
    </div>
    <% end %>

    <div class="backto-userhome">
        <%= link_to("トップ画面へ戻る", "/") %>
    </div>

</div>