<div class="container">
    <h2>このアプリは何に使うの？</h2>
    <div class="introduction">
        <p>こんにちは。私は管理人です。</p>
        <p>あなたは、何か知識を得たくて勉強しているとき、</p>
        <p>「なかなか覚えられないな、身につかないな」と思うことはありませんか？</p>
        <p>それ、ちゃんと理由があります。</p>
        <p>まず、毎日やっていないから。そして、アウトプット不足だからです。</p>
        <p>人間の脳は頻繁に使う情報を覚えるようになっています。頻繁に使う情報は生存に必要なものだと認識するのです。</p>
        <p>毎日やらなきゃ、天才じゃない限り覚えないのです。</p>
        <p>そして、アウトプット不足。</p>
        <p>アウトプットの例として、誰かに教えるというのがありますが、</p>
        <p>誰かに教えるには、教えるものを思い出さなければなりませんね。</p>
        <p>先ほども言いましたが、人間の脳は頻繁に使う情報を覚えるようになっています。</p>
        <p>頻繁に思い出す必要に迫られるものを、脳は記憶の引き出しから出しやすくしてくれるのです。</p>
        <p>結果、それを思い出しやすくなって、知識が定着するのです。</p>
        <br>
        <br>
        <p>このアプリは、あなたが覚えたいものを自分で問題にして、それに回答できるようになっています。</p>
        <p>シンプルな設計なので、言い換えれば、非常に自由度の高い問題作成が可能です。</p>
        <p>「あなたの友達○○の誕生日はいつ？」みたいな、あなた以外にはどうでもいい問題なんかも作れます。</p>
        <p>英単語、歴史、生活の知恵、法律などの問題を作ってみてもいいかもしれません。</p>
        <br>
        <br>
        <p>知識があることが全てではないですが、いろんなことを知っているとより人生を楽しめると思っています。</p>
        <p>このアプリが少しでもあなたのためになれば幸いです。</p>
        <br>
        <br>
        <p>作成言語: Ruby, Ruby on Rails</p>
    </div>
    <div>
        <%= link_to("トップ画面へ戻る", "/") %>
    </div>
</div>