<div class="container">
    <div class="button">
        <%= link_to("このアプリについて", "/about") %>
    </div>
    <div class="button">
        <%= link_to("ログイン", "/loginform") %>
    </div>
    <div class="button">
        <%= link_to("新規登録", "/signup") %>
    </div>
</div>