// Place all the styles related to the Administrator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.aSetOf-qas{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}