
//login_form.html----------------------
.pleaseLogin p{
    margin:0;
}
.login-button {
    padding-top: 10px;
    padding-bottom: 10px;
}
.backto-userhome {
    padding-top: 40px;
    padding-bottom: 10px;
}
//-------------------------------------

//new.html-------------------------
.signup-form{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}
.signup-button {
    padding-top: 10px;
    padding-bottom: 10px;
}
.signup-button input {
    width: 100px;
    height: 30px;
}//------------------------------------

//user_home.html-----------------------
.welcome {
    padding-top: 30px;
    padding-bottom: 30px;
}
.user-menus p {
    padding-top: 20px;
    padding-bottom: 20px;
}
//-------------------------------------

//user_profile.html--------------------
.partOfProfile{
    padding-top: 20px;
    padding-bottom: 20px;
}
.partOfProfile p{
    margin: 0;
}
.partOfProfile input{
    margin: 0;
}
//-------------------------------------

//index.html---------------------------
.yourqas-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.originalqas-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.noqas-message{
    color: #ff0000;
    margin: 0;
}
.nameTag p{
    margin: 0;
}
.aSetOf-qas{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.aSetOf-qas p{
    margin: 0;
}
//-------------------------------------


//give_userqas.html-----------------
.quizAllEnd p{
    margin: 0;
}
//-----------------------------------

//give_qas.html-----------------

//-----------------------------------